<div class="row">
  <div class="col-xs-8 text-left">
    <button ui-sref="base" class="btn btn-primary">Back</button><h2>{{ status.text }}</h2>
  </div>
</div>

<div class="row">
  <div id="map-display">

    <div id="map-container">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">
            <div>
              {{ map.window.model.name }}<br>
              {{ map.window.model.food_items }}
            </div>
        </ui-gmap-window>

        <ui-gmap-markers models="map.markers" coords="'self'" events="map.markersEvents">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>

  </div>
</div>


