<div class="row" id="above-map">
  <div class="col-xs-2 text-left">
    <button ui-sref="base" class="btn btn-primary">Back</button>
  </div>

  <div class="col-xs-5 text-left">
    <h5>{{ status.text }}</h5>
  </div>

  <div class="col-xs-5 pull-right">
    <input placeholder="Filter search" type="text" class="form-control" ng-model="foodFilter"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 hidden-lg hidden-md spacer"></div>
</div>

<div class="row" id="map-container">
  <div id="map-display">

    <ui-gmap-google-map center='map.center' zoom='map.zoom'>
      <ui-gmap-window show="map.window.show" coords="map.window.model" options="map.window.options" closeclick="map.window.closeClick()">
          <div>
            {{ map.window.model.name }}<br>
            {{ map.window.model.food_items }}<br>
            <!-- add schedule here when available from API -->
          </div>
      </ui-gmap-window>

      <ui-gmap-markers models="map.markers | filter: foodFilter" coords="'self'" events="map.markersEvents">
      </ui-gmap-markers>
    </ui-gmap-google-map>

  </div>
</div>

<div class="row" id="below-map">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="input-group">
      <input placeholder="Search again!" type="text" class="form-control" ng-model="query"/>
      <span class="input-group-btn">
        <button ng-click="newQuery()" class="btn btn-primary">Go!</button>
      </span>
    </div>
<!--     <div ui-view="search">
    </div> -->
  </div>
</div>


