<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catch a Truck!</title>
</head>
<body ng-app="app" class="vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h3> Catch a Ride! </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <div class="input-group">
          <input placeholder="Input a location!" type="text" class="form-control"/>
          <span class="input-group-btn">
            <button class="btn btn-primary">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
