<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catch a Truck!</title>
</head>
<body ng-app="app" class="vertical-center">
  <div class="container">
    <ui-view></ui-view>
  </div>
</body>
</html>
